name: autofix.ci # needed to securely identify the workflow

on:
  pull_request:
    branches:
      - main

permissions:
  contents: read

jobs:
  autofix:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6.0.1
      - uses: pnpm/action-setup@v4.2.0
      - uses: actions/setup-node@v6.1.0
        with:
          node-version: lts/*
          cache: 'pnpm'
      - run: pnpm install --ignore-scripts
      - run: pnpm nuxt prepare
      - run: pnpm lint:fix
      - uses: autofix-ci/action@7a166d7532b277f34e16238930461bf77f9d7ed8
        with:
          commit-message: 'chore: apply automated updates'
